<div class="mat-elevation-z2">
  <mat-table class="pltr-table" [dataSource]="dataSource">
    <!-- Plotline Name Column -->
    <ng-container matColumnDef="plotline-name" sticky>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index" [class]="'pltr-template-' + i">
        <div class="pltr-plotline-name-cell-line"></div>
        <div class="pltr-plotline-name-cell">{{ row.name }}</div>
      </mat-cell>
    </ng-container>

    <!-- Chapter Columns -->
    @for (chapter of chapters; track chapter.id; let index = $index, count = $count) {
      <ng-container [matColumnDef]="chapter.id">
        <mat-header-cell *matHeaderCellDef>
          <div class="pltr-table-header-cell">
            {{ chapter.name }}
            <div class="pltr-table-scene-actions">
              <!-- <mat-icon>edit</mat-icon> -->
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" [class]="'pltr-template-' + i">
          <div class="pltr-table-cell-line"></div>
          @if (!row.scenes[chapter.id]?.length) {
            <div class="pltr-table-empty-cell">
              <!-- <mat-icon>add</mat-icon> -->
            </div>
          } @else {
            <div class="pltr-table-cell">
              @for (scene of row.scenes[chapter.id]; track scene.id) {
                <div class="pltr-table-scene">
                  {{ scene.description }}
                  <div class="pltr-table-scene-actions">
                    <!-- <mat-icon>edit</mat-icon> -->
                    <!-- <mat-icon>delete</mat-icon> -->
                  </div>
                </div>
                <div class="pltr-table-scene-add">
                  <mat-icon>add</mat-icon>
                </div>
              }
            </div>
          }
        </mat-cell>
      </ng-container>
    }

    <!-- New Chapter -->
    <ng-container matColumnDef="add-chapter">
      <mat-header-cell *matHeaderCellDef>
        <div class="pltr-table-header-cell">
          <mat-icon>add</mat-icon>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
