<div class="mat-elevation-z2">
  <mat-table
    class="pltr-table"
    [dataSource]="dataSource"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="moveChapter($event)"
  >
    <!-- Plotline Name Column -->
    <ng-container matColumnDef="plotline-name" sticky>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index" [class]="'pltr-template-' + i">
        <div class="pltr-plotline-name-cell-line"></div>
        @if (activePlotlineIndex === i) {
          <div class="pltr-plotline-name-cell">
            <textarea
              matInput
              class="plotline-name-input"
              type="text"
              [value]="row.name"
              (blur)="updatePlotlineName(row.id, $event.target['value']); activePlotlineIndex = null"
            >
            </textarea>
          </div>
        } @else {
          <div
            class="pltr-plotline-name-cell"
            (click)="activePlotlineIndex = i"
            (keyup.enter)="activePlotlineIndex = i"
            tabindex="0"
          >
            {{ row.name }}
          </div>
        }
      </mat-cell>
    </ng-container>

    <!-- Chapter Columns -->
    @for (chapter of chapters; track chapter.id; let index = $index, count = $count) {
      <ng-container [matColumnDef]="chapter.id">
        <mat-header-cell *matHeaderCellDef cdkDrag>
          @if (activeChapterIndex === index) {
            <div class="pltr-table-header-cell">
              <textarea
                matInput
                class="chapter-name-input"
                type="text"
                [value]="chapter.name"
                (blur)="updateChapterName(chapter.id, $event.target['value']); activeChapterIndex = null"
              >
              </textarea>
            </div>
          } @else {
            <div
              class="pltr-table-header-cell"
              (click)="activeChapterIndex = index"
              (keyup.enter)="activeChapterIndex = index"
              tabindex="0"
            >
              {{ chapter.name }}
            </div>
          }
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" [class]="'pltr-template-' + i">
          <div class="pltr-table-cell-line"></div>
          @if (!row.scenes[chapter.id]?.length) {
            <div class="pltr-table-empty-cell">
              <div class="pltr-table-scene-add">
                <mat-icon>add</mat-icon>
              </div>
            </div>
          } @else {
            <div class="pltr-table-cell pltr-table-scene-cell">
              @for (scene of row.scenes[chapter.id]; track scene.id) {
                <div class="pltr-table-scene">
                  {{ scene.description }}
                </div>
                <div class="pltr-table-scene-add">
                  <mat-icon>add</mat-icon>
                </div>
              }
            </div>
          }
        </mat-cell>
      </ng-container>
    }

    <!-- New Chapter -->
    <ng-container matColumnDef="add-chapter">
      <mat-header-cell *matHeaderCellDef>
        <div class="pltr-table-header-cell">
          <div (click)="addChapter()" (keyup.enter)="addChapter()" tabindex="0"><mat-icon>add</mat-icon></div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
